<h3 class="heading-3 mb-sm">You are cordially invited!</h3>

<div class="heading-4 heading-2--black mb-md card__greetings">
  <p>
      In gratitude of our Almighty God Jehovah, and the blessing of our parents

      Mr. Antonio & Mrs. Cristina Maranan, and
      Mr. ___ and Mrs. Perla Duque
  </p>

  <p>
      We,
      Homer Maranan & Joanna Duque
  </p>

  <p>
      Request the pleasure of your company
      To witness this memorable moment of our lives as we solemnly exchange our vows and become one in Jehovah’s sacred arrangement of marriage
  </p>


  <p>
      on Monday, the 30th of December, 2019,
      4 o’clock in the afternoon
      At Kingdom Hall of Jehovah's Witnesses, Candelaria
  </p>

  <p>
      Our Joy Will be more complete with Your presence.

  </p>
</div>

<div class="card__response">
  <div class="card__response--coming">
    <button class="btn" (click)="coming()">Yes, I am coming</button>
  </div>
  <div class="card__response--not-coming">
      <button class="btn not-coming-btn" (click)="notComing()">Sorry, I am not able to come</button>
  </div>
</div>
